$placeholder-color: #9697a1;
* {
  box-sizing: border-box;
}

// Защита от переполнения
img {
  max-width: 100%;
  height: auto;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
}

::-moz-placeholder {
  color: $placeholder-color;
}

/* Firefox 19+ */

:-moz-placeholder {
  color: $placeholder-color;
}

/* Firefox 18- */

:-ms-input-placeholder {
  color: $placeholder-color;
}

// Обнуление отступов по умолчанию у списков
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style-position: inside;
}

p {
  margin: 0;
}

button {
  border: none;
  background: none;
  color: inherit;
  &:hover,
  &:active {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  &:hover,
  &:active {
    outline: none;
  }
}

.btnScroll {
  position: fixed;
  bottom: -50px;
  right: 100px;
  width: 50px;
  height: 50px;
  border: 2px solid #1597cf;
  border-radius: 50%;
  background-color: black;
  outline: none;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s all;
  &.btnActive {
    bottom: 50px;
    @media (max-width: $tablet) {
      bottom: 30px;
      right: 30px;
    }
    @media (max-width: 480px) {
      bottom: 15px;
      right: 15px;
    }
  }
  &:after {
    position: absolute;
    top: 43%;
    left: 38%;
    content: "";
    width: 10px;
    height: 10px;
    margin: 0;
    border-top: 2px solid #1597cf;
    border-left: 2px solid #1597cf;
    transform: rotate(45deg);
  }
}
