include ../mixins
block variables

doctype html
html(lang="ru-RU")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")

body(class="" + bodyClass)
  include ../components/header
  block content
  include ../components/footer

  //- Кнопка скролла в начало страницы
  button.btnScroll
  