aside {
  width: 355px;
  margin-bottom: 80px;
  padding-right: 25px;
  border-right: 1px solid #f4f4f4;
  @media (max-width: 1305px) {
    margin-right: 30px;
  }
  @media (max-width: $tablet) {
    width: 100%;
    margin-right: 0px;
    padding: 0;
    border: 0;
  }
  .aside__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 355px;
    margin-bottom: 39px;
    padding-bottom: 28px;
    border-bottom: 1px solid #f1f1f1;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  .aside-list__item-link {
    padding-left: 22px;
    color: #893b67;
    font-family: "Vida 31 Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .aside-list__item-notifications {
    position: relative;
    max-width: 280px;
    padding: 7px 0;
    border-radius: 20px;
    border: 1px solid #ddddde;
    &__count {
      position: absolute;
      top: -7px;
      right: -1px;
      display: inline-block;
      min-width: 20px;
      min-height: 20px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #893b67;
      font-family: "Vida 31 Pro";
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
    }
  }

  .select-wrap {
    position: relative;
    &::after {
      display: none;
      position: absolute;
      top: 23px;
      right: 22px;
      content: '';
      border: 5px solid transparent;
      border-top: 7px solid gray;
      @media (max-width: $tablet) {
        display: initial;
      }
    }
    &__count {
      display: none;
      position: absolute;
      top: 2px;
      left: 19%;
      min-width: 20px;
      min-height: 20px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #893b67;
      font-family: "Vida 31 Pro";
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      @media (max-width: $tablet) {
        display: inline-block;
      }
    }
  }
  .aside__select {
    display: none;
    width: 100%;
    margin-bottom: 30px;
    padding: 12px 31px;
    border-radius: 20px;
    border: 1px solid #ddddde;
    color: #53565a;
    background-color: #ffffff;
    font-family: "Vida 31 Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    outline: none;
    appearance: none !important;
    @media (max-width: $tablet) {
      display: initial;
    }
  }
  &__adress-block {
    display: flex;
    flex-direction: column;
  }
  .adress-block {
    @media (max-width: $tablet) {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &::after {
        position: absolute;
        top: 0px;
        left: 50%;
        content: "";
        width: 1px;
        height: 100%;
        background-color: #f1f1f1;
      }
    }
    &__item {
      position: relative;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #f1f1f1;
      @media (max-width: $tablet) {
        width: 305px;
        margin-bottom: 0;
        border: 0;
        &:first-child {
          margin-right: 25px;
          padding-right: 40px;
        }
        &:last-child {
          border-right: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__item-header {
      margin: 0;
      margin-bottom: 14px;
      font-family: "Vida 33 Pro";
      font-size: 24px;
      font-weight: 400;
      color: #893b67;
    }
    &__item-text {
      font-family: "Vida 31 Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #000000;
    }
    &__item-link {
      position: absolute;
      bottom: 40px;
      right: 30px;
      font-family: "Vida 33 Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #893b67;
      &::before {
        position: absolute;
        top: 2px;
        right: -30px;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #893b67;
      }
      &::after {
        position: absolute;
        top: 10px;
        right: -21px;
        content: "";
        width: 5px;
        height: 5px;
        border: 1px solid #893b67;
        border-top-color: transparent;
        border-left-color: transparent;
        transform: rotate(-45deg);
      }
    }
  }
}