//Цвета
$c-main: #000;
$c-second: #fff;
$c-bg-main: #1e7874;
$c-bg-second: #1c8a85;
$c-bg-third: #186068;
//Типографика
$f-main: "Roboto",
"Arial",
sans-serif;
$f-second: "Montserrat",
"Arial",
sans-serif;
$f-text-size: 10px;
$f-base-lh: 1.3;
html {
  font-size: $f-text-size;
}

body {
  font-family: $f-main;
  line-height: $f-base-lh;
  color: $c-main;
}

// Breakpoints container
$desktop: 1440px;
$desktop-width: 1349px;
$tablet: 768px;
$tablet-width: 688px;
$mobile: 640px;
$mobile-width: 560px;
// Breakpoints container
// DESKTOP FIRST
.container {
  max-width: $desktop-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.28205128%;
  @media (max-width: $tablet) {
    max-width: $tablet-width;
    padding: 0 2.60416666%;
  }
  @media (max-width: $mobile) {
    max-width: $mobile-width;
    padding: 0 4%;
  }
}

// MOBILE FIRST
// .container {
// 	max-width: $mobile-width;
// 	width: $mobile-width;
// 	margin: 0 auto;
// 	padding: 0 1.28205128%;
// 	@media (min-width: $tablet) {
// 		max-width: $tablet-width;
// 		padding: 0 2.60416666%;
// 	}
// 	@media (min-width: $desktop) {
// 		max-width: $desktop-width;
// 	}
// }
