footer.footer
  .container

    .footer__inner-wrap
      .footer__column-info
        .social-links
          a(href='#')
            i.fa.fa-facebook-official(aria-hidden='true')
          a(href='#')
            i.fa.fa-vk(aria-hidden='true')
          a(href='#')
            i.fa.fa-instagram(aria-hidden='true')
          a(href='#')
            i.fa.fa-odnoklassniki(aria-hidden='true')
          a(href='#')
            i.fa.fa-youtube(aria-hidden='true')
        .phone
          a.top-line__contacts-number(href='tel:70000000000') +7 000 000-00-00
        p.adress
          | Адрес, улица, дом, корпус
        a.post-comp(href="mailto:post@comp.com") post@comp.com

      nav.footer-nav
        ul.footer-nav__list
          span.footer-nav__list-heading Раздел№1
          .footer-nav__list-wrap
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №1
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №2
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №3
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №4
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №5
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №6

        ul.footer-nav__list
          span.footer-nav__list-heading Раздел№2
          .footer-nav__list-wrap
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №1
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №2
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №3
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №4

        ul.footer-nav__list
          span.footer-nav__list-heading Раздел№3
          .footer-nav__list-wrap
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №1
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №2
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №3
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №4
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №5
            li.footer-nav__list-item
              a.footer-nav__list-link(href='#') Подраздел №6

        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') Подраздел №1
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') Подраздел №2
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') Подраздел №3
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') Подраздел №4
