footer.footer
  .container
    .footer__inner-wrap
      .footer__column-info
        a.logo(href='#')
        .social-links
          a(href='')
            i.fa.fa-vk(aria-hidden='true')
          a(href='')
            i.fa.fa-facebook-official(aria-hidden='true')
          a(href='')
            i.fa.fa-instagram(aria-hidden='true')
        .phone
          a.phone__number(href='tel:74994093025') +7 499 409-30-25
          a.phone__number(href='tel:74997077943')  +7 499 707-79-43
        p.adress
          | 129344, Москва
          br
          |  ул. Искры 31/1
        p.copyright
          | 2017 avitekengineering.ru
          br
          |  Все права защищены
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#')
              | КОНДИЦИОНИРОВАНИЕ
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') VRF/VRV системы
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Чиллеры и фанкойлы
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Прецизионное кондиционирование
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#')
              | ВЕНТИЛЯЦИЯ
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Проектирование и монтаж
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Обслуживание и ремонт
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#')
              | ОТОПЛЕНИЕ
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Котельное оборудование
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Теплообменное оборудование
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Системы отопления
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#')
              | ВОДОСНАБЖЕНИЕ
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Котельное оборудование
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Теплообменное оборудование
        ul.footer-nav__list
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#')
              | ПОЖАРНЫЕ СИСТЕМЫ
              i.fa.fa-angle-down(aria-hidden='true')
            ul.footer-nav__sub-list
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Водяное пожаротушение
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Газовое пожаротушение
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Порошковое пожаротушение
              li.footer-nav__sub-list-item
                a.footer-nav__sub-list-link(href='#') Сервисное обслуживание
          li.footer-nav__list-item
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') НОВОСТИ
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') КОНТАКТЫ
          li.footer-nav__list-item
            a.footer-nav__list-link(href='#') ОТЗЫВЫ