header.header
  .container

    .top-line
      a.logo(href='index.html')
        img(src='../../images/logo.png', alt='logo')
        
      nav.top-line__nav
        ul.top-line__nav-list
          li.top-line__nav-list-item
            a.top-line__nav-list-item-link(href='#')
              | Раздел №1
          li.top-line__nav-list-item
            a.top-line__nav-list-item-link(href='#')
              | Раздел №2
          li.top-line__nav-list-item
            a.top-line__nav-list-item-link(href='#')
              | Раздел №3
          li.top-line__nav-list-item
            a.top-line__nav-list-item-link(href='#')
              | Раздел №4
          li.top-line__nav-list-item
            a.top-line__nav-list-item-link(href='#')
              | Раздел №5

      .top-line__contacts
        a.top-line__contacts-compare(href="#") 
          .top-line__contacts-compare-icon.compare-icon
            span.compare-icon__count 3
          | Сравнение
        a.top-line__contacts-account(href="#") Личный кабинет
        a.top-line__contacts-number(href='tel:70000000000') +7 000 000-00-00
          .top-line__contacts-number-phone
            .rounds

      .mobile-menu
        a.mobile-menu__btn
          i.fa.fa-bars(aria-hidden='true')
        .mobile-menu-block
          ul.mobile-menu-nav-list
            a.logo(href='index.html')
              img(src='../../images/logo.png', alt='logo')
            a.mobile-menu__btn.mobile-menu__btn--open
            li.mobile-menu-nav-list__item
              a.mobile-menu-nav-list__item-link(href='#') Раздел №1
            li.mobile-menu-nav-list__item
              a.mobile-menu-nav-list__item-link(href='#') Раздел №2
            li.mobile-menu-nav-list__item
              a.mobile-menu-nav-list__item-link(href='#') Раздел №3
            li.mobile-menu-nav-list__item
              a.mobile-menu-nav-list__item-link(href='#') Раздел №4
            li.mobile-menu-nav-list__item
              a.mobile-menu-nav-list__item-link(href='#') Раздел №5
          a.top-line__contacts-compare(href="#") 
            .top-line__contacts-compare-icon.compare-icon
              span.compare-icon__count 3
            | Сравнение
          a.top-line__contacts-account(href="#") Личный кабинет
          a.top-line__contacts-number(href='tel:70000000000') +7 000 000-00-00
            .top-line__contacts-number-phone
              .rounds

  .header__bg
    .container
      .header__bg-text
        span Адрес 123
        h1 Объект №51