aside.aside

  ul.aside__list
    li.aside-list__item
      a.aside-list__item-link(href="#") Документы
    li.aside-list__item 
      a.aside-list__item-link(href="#") План
    li.aside-list__item 
      a.aside-list__item-link(href="#") Оплата
    li.aside-list__item 
      a.aside-list__item-link(href="#") Стадии
    li.aside-list__item 
      a.aside-list__item-link(href="#") Online
    li.aside-list__item 
      a.aside-list__item-link(href="#") Инструкция
    li.aside-list__item.aside-list__item-notifications
      span.aside-list__item-notifications__count 6
      a.aside-list__item-link(href="#") Уведомления

  .select-wrap
    select.aside__select
      option(value="Документы") Документы
      option(value="План") План
      option(value="Оплата") Оплата
      option(value="Стадии") Стадии
      option(value="Online") Online
      option(value="Инструкция") Инструкция
      option(value="Уведомления", selected) Уведомления
    span.select-wrap__count 6

  ul.aside__adress-block.adress-block
    li.adress-block__item
      h3.adress-block__item-header Адрес 123
      span.adress-block__item-text Адрес 123
      a.adress-block__item-link(href="#") Перейти
    li.adress-block__item
      h3.adress-block__item-header Адрес 123
      span.adress-block__item-text Адрес 123
      a.adress-block__item-link(href="#") Перейти