section.news
  .container
  
    ul.news-list.owl-carousel
      li.news-list__item
        span.news-list__item-date 14/07
        span.news-list__item-type.news-list__item-type--action акция
        p.news-list__item-text
          | Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
      li.news-list__item
        span.news-list__item-date 14/07
        span.news-list__item-type новости
        p.news-list__item-text
          | Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
      li.news-list__item
        span.news-list__item-date 14/07
        span.news-list__item-type акции
        p.news-list__item-text
          | Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
      li.news-list__item
        span.news-list__item-date 14/07
        span.news-list__item-type события
        p.news-list__item-text
          | Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.